name: Server CI

on:
  push:
    paths:
      - "server/**"
    branches:
      - main

  pull_request:
    paths:
      - "server/**"
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: server

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: yarn install
      - name: Run ESLint
        run: yarn lint

  build-and-test:
    runs-on: ubuntu-latest
    needs: lint

    defaults:
      run:
        working-directory: server

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: yarn install
      - name: Build Nest.js
        run: yarn build
      - name: Run tests
        run: yarn test
